#บทนำ {
color: #BEAEE2;
font-size: 16px;
font-weight: bolder;
font-family: monospace;

}

#ก่อนเปิดตัว{
    color: rgb(178, 114, 255);
    
}
#NamJoon{
    color: #BAABDA;
    font-size: 24px;
    text-align: center;
    
}
#NJ{
    color: #B689B0;
}
#RM{
    color: #BAABDA;
    font-size: 48px;
    text-align: center;
}
#jin{
    color : #6DDCCF;
    font-size: 48px;
    text-align: center;
}
#Jin{
    color: #6DDCCF;
    font-size: 24px;
    text-align: center;
}
#J{
    color: #01C5C4;
}
#suga{
    color : #6886C5;
    font-size: 48px;
    text-align: center;
}
#Suga{
    color : #6886C5;
    font-size: 24px;
    text-align: center;
}
#SG{
    color : #987D9A;
}
#jhope{
    color: #AAD9BB;
    font-size: 48px;
    text-align: center;
}
#Jhope{
    color: #AFC8AD;
    font-size: 24px;
    text-align: center;
}
#JH{
    color: #99BC85;
}
#jimin{
    color: #FEA1A1;
    font-size: 48px;
    text-align: center;
}
#Jimin{
    color: #FEA1A1;
    font-size: 24px;
    text-align: center;
}
#JM{
    color: #F875AA;
}
#TaeHyung{
    color : #FEBE8C;
    font-size: 48px;
    text-align: center;
}
#v{
    color: #FEBE8C;
    font-size: 24px;
    text-align: center;
}
#V{
    color:#FF7B54 ;
}
#JungKook{
    color: #FF6363;
    font-size: 48px;
    text-align: center;
}
#Jungkook{
    color: #FF6363 ;
    font-size: 24px;
    text-align: center;
}
#JK{
    color: red;
}
#อ้างอิง{
    color: #FF4B91;
    background-color: whitesmoke ;

}
#ผลงานเพลง{
    color: #F86F03;
    text-align: center;
}
#เกาหลี{
    color: #2CD3E1;
}
#SA{
    color : #A459D1;
    font-weight: bolder;
}
#MA{
    color: #39A7FF;
    font-weight: bolder;
}
#STA{
    color: #FF7777;
    font-weight: bolder;
}
#SAL{
    color: #FFA38F;
    font-weight: bolder;
}
#SB{
color: #95D2B3;
font-weight: bolder;
}
#DS{
    color: #FF76CE;
    font-weight: bolder;
}
#OR{
    color: #F7418F;
    font-weight: bolder;
}
#SMS{
    color: #E76F51;
    font-weight: bolder;
}
#BU{
    color: #06D001;
    font-weight: bolder;
}
#S{
    color: #FF8F00;
    font-weight: bolder;
}
#DSI{
    color: #FF0080;
    font-weight: bolder;
}
#DERS{
    color: #007F73;
    font-weight: bolder;
}
#SNG{
    color: #87A922;
    font-weight: bolder;
}
#DAL{
    color: #5E1675;
    font-weight: bolder;
}
#RES{
    color: #FC4100;
    font-weight: bolder;
}
#CAB{
    color: #836FFF;
    font-weight: bolder;
}
#FT{
    color: #647D87;
    font-weight: bolder;
}
#KN{
    color: #836FFF;
    font-weight: bolder;
}
.pp{
    color: #836FFF;
}
.mt{
    color: #836FFF;
    font-weight: bolder;
    font-size: 24px;
}
.jn{
    color: #96ca6b;
    font-weight: bolder;
}
.cs{
    color: #96ca6b ;
    font-weight: bolder;
    font-size: 24px;
}
.sa{
    color:#2d6fd1 ;
    font-weight: bolder;
}
.mi{
    color:#2d6fd1 ;
    font-weight: bolder;
    font-size: 24px;
}
.je{
    color: #C7DCA7;
    font-weight: bolder;
}
.mx{
    color:#92cc3a;
    font-weight: bolder;
    font-size: 24px;
}
.jm{
    color: #FFB7B7;
    font-weight: bolder;
}
.cg{
    color: #fd8080;
    font-weight: bolder;
    font-size: 24px;
}
.tg{
    color: #FFB26B;
    font-weight: bolder;
}
.os{
    color: #FFB26B;
    font-weight: bolder;
    font-size: 24px;
}
.kk{
    color: #f81b1b;
    font-weight: bolder;
}
.jkk{
    color: #f81b1b;
    font-weight: bolder;
    font-size: 24px;
}







